<h1>Listings</h1>

<table class="table table-hover">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Location</th>
    <th>Vehicle</th>
    <th>Rate</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
    <%= render @listings %>

</table>

<br />

<%= link_to 'New Listing', new_listing_path %>
