<table>
   <tr>
   <th width="1266" align="left"><h1>Listings</h1></th>
   <th width="100"align="right"><%= link_to "Add+", new_listing_path, class: "btn btn-primary btn-large"%></th>
   </tr> 
</table>

<table class="table table-hover">
  <tr>
    <th></th>
    <th>Username</th>
    <th>Area</th>
    <th>Summary</th>
    <th>Vehicle</th>
    <th>Rate</th>
    <th></th>
  </tr>
    <div id="listings">
        <%= will_paginate @listings %>
        <%= render @listings %>
    </div>
</table>
<%= will_paginate @listings %>


