<div class="center hero-unit">
	<h1>Welcome to Move Something</h1>
<p>
  You've found the home page for the
  <%= link_to "Move Something", "http://movesomething.co.uk" %>
  application.
</p>

<p></p>
<p></p>

<p>
  <%= link_to "Sign Up Now!", '#', class: "btb btn-primary btn-large" %>
</p>
</div>