<div class="center hero-unit">
	<h1>Rails Training</h1>
</br>
  <blockquote>
  <p>That will take at least six months of development.</p>
  <small>Dev guy, <cite title="Source Title">at the pub.</cite></small>
  </blockquote>
</br>
<p><%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %></p>
</div>