<div class="center hero-unit">
	<h1>Move Something</h1>
<p>
  Find help moving your stuff.
</p>

<p></p>
<p></p>

<p>
  <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
</p>
</div>